
<nav class="navbar navbar-static-top navbar-inverse" style="color:white">
  <div class="container">
  <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size:22px">
        <i class="fa fa-ravelry" aria-hidden="true" style="color:#fff"></i>
           A-Tutorials</a>
      
       <ul class="nav navbar-nav "   style="font-size:22px">
          <li><a routerLink="/c" routerLinkActive="active">C</a></li>
          <li><a routerLink="/csharp" routerLinkActive="active">C#</a></li>
          <li><a routerLink="/javascript" routerLinkActive="active">JavaScipt</a></li>
         </ul>
  </div>
</div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>